<h1>Home page</h1>
<p>Welcome to What's Cooking . </p>
<div class = "section_search">
  <form action="/recipes/<%= params['title'] %>">
<label for="find_recipe">Enter the recipe name </label>
 <input type="text" id = "find_recipe" name ="title" Placeholder ="enter recipe name" autofocus> </input>
 <button>Go</button>
 </form>
</div>

