<!DOCTYPE html>
<html>
<head>
  <title>Whatscooking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class ="container">
    <div class ="section_header">
      <img src="http://cdn.marketplaceimages.windowsphone.com/v8/images/c51f2b5a-7e66-4563-986d-20ac630ac7ee?imageType=ws_icon_large" alt="whats cooking">
      <h1> What's Cooking </h1>
    </div>
    <div class="section_content">
        <p> Your food forage ends here </p>
        
         <%= yield %>
         
    </div>

  </div>
  

</body>
</html>
